{{!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="card-body">
        <h2 class="card-title"><a href="/post/{{id}}">{{title}}</a></h2>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
            
    </div>
    <div class="card-text">
        {{post_text}}
        
    </div>
</div> --}}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {{!-- this is Where the image would ideally be inserted --}}
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
        <p class="card-text">
            {{post_text}}
        </p>
        <p class="card-text"><small class="text-muted">Posted by {{user.username}} on {{format_date created_at}}</small></p>
      </div>
      <div>
        {{#each tags}}
         <h6 class="badge bg-secondary">{{tag_text}}</h6>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="card-body">
    {{> comments comments }}
</div>

{{!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
        {{> comments comments }}
    </div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
</div> --}}